/* =========RESET=========== */
a {
  text-decoration: none;
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* ===========STYLES===================== */
body {
  font-family: 'Roboto', 'FF DIN', sans-serif;
  color: var(--body-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
:root {
  --body-color: #434455;
  --navy-blue: #2e2f42;
  --white: #ffffff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
  --icon-grey: rgba(255, 255, 255, 0.1);
  --green: #31d0aa;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* --------HEADER--------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
}
.header-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}
.logo-text-right {
  color: var(--navy-blue);
}
.nav {
  display: flex;
  gap: 76px;
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item-text {
  font-weight: 500;
  color: var(--navy-blue);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-text:is(:hover, :focus) {
  color: var(--ocean);
}

.active {
  position: relative;
  color: var(--ocean);
}
.active::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}
.address {
  flex-grow: 1;
}
.address-list {
  font-style: normal;
  display: flex;
  gap: 40px;
  justify-content: end;
}
.mail-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:is(:hover, :focus) {
  color: var(--ocean);
}

.address-item-text {
  color: var(--body-color);
}

/* --------HERO--------- */
.section-hero {
  /* background-color: var(--navy-blue); */
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  width: 496px;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white);
  text-align: center;
  margin-bottom: 48px;
}
.hero-btn {
  background-color: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: var(--ocean);
}
/* --------OUR FEATURES--------- */

.features-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.features-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-icon {
  display: block;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  background-color: var(--cloud);
  border-radius: 4px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  /* margin-bottom: 8px; */
}
.features-text {
}
/* --------DOING--------- */
.section-doing {
  padding-top: 0;
}
.doing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.doing-title {
  width: 323px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.doing-image {
  border: 1px solid var(--cornflower);
  display: block;
}
/* --------TEAM--------- */
.section-team {
  background-color: var(--cloud);
}
.team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.team-title {
  width: 162px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-top: 32px;
  margin-bottom: 8px;
}
.card-soc-list {
  display: flex;
  gap: 24px;
  height: 40px;
  align-items: center;
  margin-top: 8px;
}
.card-soc-item {
  width: 40px;
  height: 40px;
}
.card-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-soc-link:is(:hover, :focus) {
  background-color: var(--ocean);
}
.card-soc-icon {
  display: block;
}

/* =============CUSTOMERS======= */
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
  display: block;
}
.customers-link:is(:hover, :focus) {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* --------FOOTER--------- */
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-flex {
  display: flex;
  gap: 120px;
}
.f-logo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-logo {
}
.footer-text {
  color: var(--cornflower);
  width: 264px;
}
.f-logo-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}
.f-logo-text-right {
  color: var(--cloud);
}
.soc-title {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
}
.f-soc {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.f-soc-list {
  display: flex;
  gap: 16px;
}
.f-soc-item {
  width: 40px;
  height: 40px;
}
.f-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.f-soc-icon {
  display: block;
  fill: var(--cloud);
}
.f-soc-link:is(:hover, :focus) {
  background-color: var(--green);
}
/* --------HIDDEN--------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------PORTFOLIO--------- */
/* --------FILTERS--------- */
.portfolio {
  padding-top: 96px;
}
.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 72px;
}
.filters-btn {
  font-family: 'Roboto', 'FF DIN', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:is(:hover, :focus) {
  background-color: var(--ocean);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------EXAMPLES--------- */

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  column-gap: 24px;
  justify-content: center;
}
.examples-item {
}
.examples-link {
  display: block;
  width: 100%;
  height: 100%;
  transition-property: box-shadow, border-bottom, border-left, border-right;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-bottom {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  transition-property: box-shadow, border-bottom, border-left, border-right;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:is(:hover, :focus) > .card-bottom {
  border-bottom: 1px solid var(--cloud);
  border-right: 1px solid var(--cloud);
  border-left: 1px solid var(--cloud);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  padding-bottom: 8px;
}
.examples-text {
  color: var(--body-color);
}
.example-image-wrap {
  position: relative;
  overflow: hidden;
}
.example-text-overlay {
  color: var(--cloud);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover .example-text-overlay,
.examples-link:focus .example-text-overlay {
  transform: translate(0, 0);
}
/* =================================== */

/* --------MODAL----------- */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  /* transition-property: box-shadow;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: var(--ocean);
}

.modal-title {
  font-weight: 500;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 34px;
  color: var(--navy-blue);
}
.modal-form {
}
.modal-input {
  width: 100%;
  height: 40px;
  margin-bottom: 26px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
}
.modal-input:focus {
  color: var(--iris);
  /* border-color: var(--iris); */
}
.input-wrap {
  position: relative;
}
.label-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.label-other {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-slate);
}
.label-text {
  margin-bottom: 4px;
  display: inline-block;
}
